---
import { Image } from "astro:assets";
import FormattedDate from "./FormattedDate.astro";

const {
  slug,
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  heroImageAlt,
  author,
} = Astro.props;
---

<article class="px-2 pb-10 flex flex-col items-start justify-between">
  <div class="relative px-2 w-full">
    <img
      src={heroImage}
      alt={heroImageAlt}
      height={1024}
      width={768}
      class="aspect-ratio w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
    />
    <div
      class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
    >
    </div>
  </div>
  <div class="max-w-xl">
    <div class="mt-8 flex items-center gap-x-4 text-xs">
      <FormattedDate date={pubDate} />
      <!-- <a
        href="#"
        class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
      ></a> -->
    </div>
    <div class="group relative">
      <h3
        class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
      >
        <a href={`/blog/${slug}`}>
          <span class="absolute inset-0"></span>
          {title}
        </a>
      </h3>
      <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
        {description}
      </p>
    </div>
    <div class="relative mt-8 flex items-center gap-x-4">
      <!-- <img src={heroImage} alt="" class="h-10 w-10 rounded-full bg-gray-100" /> -->
      <div class="text-sm leading-6">
        <p class="font-semibold text-gray-900">
          <span class="absolute inset-0">
            {author}
          </span>
        </p>
      </div>
    </div>
  </div>
</article>
