---
import { getCollection } from "astro:content";
import BlogCard from "./BlogCard.astro";

const publishedPosts = await getCollection("blog", ({ data }) => {
  return data.isDraft !== true;
});

const posts = publishedPosts.slice(0, 4);
---

<article class="bg-slate-200 text-slate-950 pt-10">
  <h1 class="font-serif text-2xl font-bold text-center">
    The latest from my blog
  </h1>
  <p class="mt-4 text-center text-slate-700">
    I write about product development, design, techology and other things I find
    interesting.
  </p>
  <div
    class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
  >
    {
      posts.map((post) => (
        <BlogCard
          slug={post.slug}
          title={post.data.title}
          pubDate={post.data.pubDate}
          description={post.data.description}
          heroImage={post.data.heroImage}
          heroImageAlt={post.data.heroImageAlt}
          tags={post.data.tags}
          author={post.data.author}
        />
      ))
    }
  </div>
</article>
