---
import { Image } from "astro:assets";
import FormattedDate from "./FormattedDate.astro";

interface BlogPost {
  slug: string;
  title: string;
  description: string;
  pubDate: string;
  updatedDate?: string;
  heroImage: string;
  heroImageAlt: string;
}
const {
  slug,
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  heroImageAlt,
  author,
} = Astro.props;
---

<section class="bg-slate-100 grid grid-cols-1 p-4 rounded-lg">
  <a href={`/blog/${slug}`} class="hover:underline">
    <div class="aspect-ratio w-50 md:w-96 min-w-1/2 grid-row-span-2">
      <img
        class="object-cover rounded-lg"
        src={heroImage}
        alt={heroImageAlt}
        height="768"
        width="1024"
      />
    </div>
    <div class="text-2xl">{title}</div>
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="text-sm text-gray-400">{author}</div>
      <div class="text-sm text-gray-400">
        <FormattedDate date={pubDate} />
      </div>
    </div>
  </a>
  <div class="grid grid-cols-1">
    <p class="line-clamp-3">
      {description}
    </p>
  </div>
</section>
