---
const heroImage = "/Nealle.webp";
const heroImageAlt = "Nealle Page";
const title = "Hello, I'm Nealle";
const heroText = "With Fintech, eCommerce,and SaaS experience";
const tagline =
  "An experienced Product Manager that thrives on solving complex problems and building products that people love to use.";
---

<article class="text-slate-950">
  <div
    class="bg-slate-400 p-1 border-4 rounded-lg border-slate-500
  shadow-2xl"
  >
    <div class="grid p-2 rounded-lg">
      <div class="flex">
        <img
          src={heroImage}
          alt={heroImageAlt}
          width={500}
          height={500}
          class="border-2 border-white rounded-full w-16 h-16"
        />
        <h1 class="mr-6 pr-10 text-4xl tracking-tight leading-1 md:text-6xl">
          {title}
        </h1>
      </div>
      <div class="">
        <h2 class="p-6 text-2xl font-bold md:text-4xl">
          {tagline}
        </h2>
        <p class="pl-6 text-2xl">{heroText}</p>
      </div>
    </div>
  </div>
</article>
